<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--This is a comment-->
	<appSettings>
		<add key="MyFirstSetting" value="Hello world from app.config"/>
		<add key="MyName" value="Teerapath Keawratana"/>
		<add key="MyNumber" value="10" />
	</appSettings>

	<connectionStrings>
		<add name="NorthwindConnection" connectionString="server=(local);database=Northwind;integrated security=SSPI"/>
		<add name="GEXConnection" connectionString="server=(local);database=GEX2025;integrated security=SSPI"/>
	</connectionStrings>
</configuration>